---
import Section from "@/resume/Section.astro"

import { BASICS_ES } from "@/utils/consts"
const { summary } = BASICS_ES
---

<Section title='Sobre mí'>
  <p class='text-stone-900 dark:text-stone-400'>
    {summary}
  </p>
</Section>
