---
import Section from "@/resume/Section.astro"
import { SKILLS } from "@/utils/consts"

const ICONS = await Astro.glob("/src/resume/icons/*.astro")
---

<Section title='Habilidades'>
  <ul class='inline-flex flex-wrap gap-2 mt-2'>
    {
      SKILLS.map(({ name }) => {
        const icon = ICONS.find((icon) =>
          icon.default.name.includes(name.toLowerCase())
        )

        return (
          <li class='flex items-center gap-1 px-3 py-1 text-sm font-medium rounded-md hover:scale-105 text-stone-950 bg-stone-300'>
            {icon && <icon.default />} <span>{name}</span>
          </li>
        )
      })
    }
  </ul>
</Section>
