---
import Timeline from "../components/Timeline.astro"
import Academic from "../components/icons/Academic.astro"
import Briefcase from "../components/icons/Briefcase.astro"
import { EXPERIENCES, EDUCATION } from "../components/utils/consts"
import BaseLayout from "../layouts/BaseLayout.astro"
---

<BaseLayout
  title='Experiencia - Ismael Morejón'
  sideBarActiveItemID='experiencia'
>
  <section>
    <h2 class='flex items-center mb-6 text-3xl font-semibold gap-x-3'>
      <Briefcase class='size-7' />
      Experiencia laboral
    </h2>
    <article class='grid gap-4 mb-10 time-line-container'>
      <Timeline data={EXPERIENCES} />
    </article>
  </section>

  <section>
    <h2 class='flex items-center mb-6 text-3xl font-semibold gap-x-3'>
      <Academic class='size-7' />
      Experiencia Académica
    </h2>
    <article class='grid gap-4 mb-10 time-line-container'>
      <Timeline data={EDUCATION} />
    </article>
  </section>

  <!--div class='mb-5'>
    <div class='w-full text-3xl font-bold'>Certifications</div>
  </!--div>

  <ul class='grid gap-2 mx-6 mb-10 list-disc'>
    <li>
      <a href='#' target='_blank'> Certification Name (with link)</a>
    </li>
    <li>
      <a href='#' target='_blank'> Certification Name (with link)</a>
    </li>
  </ul>

  <div class='mb-5'>
    <div class='w-full text-3xl font-bold'>Skills</div>
  </div>

  <ul-- class='mx-6 list-disc md:columns-5 columns-2'>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
  </ul-->
</BaseLayout>
