---
import Card from "../components/Card.astro";
import Code from "../components/icons/Code.astro";
import Navigation from "../components/ui/Navigation.astro"
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout sideBarActiveItemID="inicio">
  <section class="mt-5 py-36">
    <span class="py-1 text-xl text-primary-content">¡Hola! 👋</span>
    <h1 class="text-5xl font-bold">
      Soy <span class="text-primary">Ismael Morejón</span>
    </h1>
    <h2 class="py-3 text-3xl font-bold text-primary-content">
      Desarrollador de Aplicaciones Web y Videojuegos
    </h2>
    <text class="py-2 text-lg text-pretty">
      Desarrollador Web Júnior actualmente residiendo en <b
        class="text-primary-content">València, España</b
      >. Con ganas de crear <i class="text-primary">aplicaciones únicas</i> y aprendiendo
      de forma continua.
    </text>
    <Navigation />
  </section>

  <section>
    <h2 class="flex items-center mb-6 text-3xl font-semibold gap-x-3">
      <Code class="size-7 md:size-6" /> Mis últimos proyectos
    </h2>

    <Card
      title="Demo Project 1"
      img="/post_img.webp"
      desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
      url="#"
      badge="NEW"
    />
    <hr class="h-px my-1 bg-gray-700 border-0" />
    <Card
      title="Demo Project 2"
      img="/post_img.webp"
      desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
      url="#"
    />
    <hr class="h-px my-1 bg-gray-700 border-0" />
    <Card
      title="Demo Project 3"
      img="/post_img.webp"
      desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
      url="#"
      badge="FOSS"
    />
  </section>
</BaseLayout>
