---
import BaseLayout from "@/layouts/BaseLayout.astro"
import Card from "@/components/Card.astro"
---

<BaseLayout title='Proyectos - Ismael Morejón' sideBarActiveItemID='proyectos'>
  <section class='mt-5 pt-36'>
    <h2 class='w-full mb-5 text-3xl font-bold text-primary-content'>
      Projects Header
    </h2>

    <Card
      title='Demo Project 1'
      img='/post_img.webp'
      desc='Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.'
      url='#'
      badge='NEW'
    />
    <hr class='h-px my-1 bg-gray-700 border-0' />

    <Card
      title='Demo Project 2'
      img='/post_img.webp'
      desc='Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.'
      url='#'
    />
  </section>

  <section>
    <h2 class='w-full mt-10 mb-5 text-3xl font-bold text-primary-content'>
      Projects Header
    </h2>

    <Card
      title='Demo Project 3'
      img='/post_img.webp'
      desc='Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.'
      url='#'
      badge='FOSS'
    />
    <hr class='h-px my-1 bg-gray-700 border-0' />

    <Card
      title='Demo Project 4'
      img='/post_img.webp'
      desc='Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.'
      url='#'
    />
    <hr class='h-px my-1 bg-gray-700 border-0' />

    <Card
      title='Demo Project 5'
      img='/post_img.webp'
      desc='Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.'
      url='#'
    />
  </section>
</BaseLayout>
