---
import ResumeLayout from "@/layouts/ResumeLayout.astro"
import KeyboardManager from "@/components/KeyboardManager.astro"
import About from "@/components/resume/About.astro"
import Education from "@/components/resume/Education.astro"
import Experience from "@/components/resume/Experience.astro"
import Hero from "@/components/resume/Hero.astro"
import Skills from "@/components/resume/Skills.astro"

import { BASICS_ES } from "@/utils/consts"

const { name, label } = BASICS_ES
---

<ResumeLayout title=`Currículum de ${name} - ${label}`>
  <main class='w-full p-8 pt-12 m-auto md:p-16'>
    <Hero />
    <About />
    <Experience />
    <Education />
    <Skills />
  </main>

  <KeyboardManager />
</ResumeLayout>
