---
import ResumeLayout from "@/layouts/ResumeLayout.astro"
import KeyboardManager from "@/resume/KeyboardManager.astro"
import About from "@/resume/components/About.astro"
import Education from "@/resume/components/Education.astro"
import Experience from "@/resume/components/Experience.astro"
import Hero from "@/resume/components/Hero.astro"
import Skills from "@/resume/components/Skills.astro"

import { BASICS_ES } from "@/utils/consts"

const { name, label } = BASICS_ES
---

<ResumeLayout title=`Currículum de ${name} - ${label}`>
  <main class='w-full p-8 m-auto md:p-16'>
    <Hero />
    <About />
    <Experience />
    <Education />
    <Skills />
  </main>

  <KeyboardManager />
</ResumeLayout>
