---
import { ViewTransitions } from "astro:transitions"
import Head from "@/components/partials/Head.astro"

import ResumeStyles from "@/styles/ResumeStyles.astro"

import { SITE_DESCRIPTION, TRANSITION_API } from "@/utils/consts"

const {
  title = "Currículum de Ismael Morejón",
  description = SITE_DESCRIPTION,
} = Astro.props
---

<!doctype html>
<html lang='es'>
  <head>
    <Head title={title} description={description} />
    {TRANSITION_API && <ViewTransitions />}
    <ResumeStyles />
    <link rel='preload' as='image' href='/profile.webp' />
  </head>
  <body>
    <slot />
  </body>
</html>
