---
const today = new Date()
---

<footer class='flex justify-center pt-10 mb-5 footer footer-center'>
  <div class='flex pb-2'>
    &copy; {today.getFullYear()}
    <a href='https://www.github.com/xSharkhy' target='_blank' class='font-bold'
      >Ismael Morejón Blasco,</a
    >desarrollado usando
    <a href='https://www.astro.build/' target='_blank' class='font-bold'
      >Astro 4.0</a
    >
  </div>
</footer>
