---
import SideBurger from "../icons/SideBurger.astro"
---

<div
  class='sticky top-0 z-30 flex justify-center w-full h-16 transition-all duration-100 shadow-sm lg:hidden bg-opacity-90 backdrop-blur bg-base-100 text-base-content'
>
  <div class='navbar'>
    <div class='navbar-start'>
      <label for='my-drawer' class='btn btn-square btn-ghost'>
        <SideBurger />
      </label>
    </div>
    <div class='navbar-center'>
      <a class='text-xl normal-case btn btn-ghost' href='/'
        >Ismael Morejón - Desarrollador Web</a
      >
    </div>
    <div class='navbar-end'>
    </div>
  </div>
</div>
